 *{
    margin: 0;
    font-family: Arial;
    border: border-box;
}

.navbar{
        height: 60px;
        background-color: black;
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    
.nav-logo{
    height: 50px;
    width: 100px;
}
.logo{
    margin-left: 0px;
    background-image: url("amazonlogo.webp");
    background-size: cover;
    height: 50px;
    width: 100px;
}
.border{
    border: 1.5px solid transparent;


}
.border:hover{
    border: 2px solid white

}

.add-first{
    color: #cccccc;
    font-size: 0.85rem;
    margin: 15px;
}
.add-second{
 font-size: 1rem;
 margin-left: 3px;
}
.add-icon{
    display: flex;
    align-items: center;
}
.nav-search{
   display: flex;
   background-color: #e28e1f;
   width: 620px;
   height: 40px;
   border-radius: 4px;
   
}
.nav-search:hover{ 
    border: 2px solid orange;
}
.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}
.search-input{
    width: 100%;
    font-size: 1rem;
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: black;
}
span{
    font-size:0.7rem;
}
.nav-signin {
    font-size: 0.7rem;

}
.nav-sec{
    font-size: 0.85rem;
    font-weight: 700;
}
.nav-cart i{
    font-size: 30px;
}
.nav-cart{
    font-size:0.85rem ;
    font-weight: 700px;
}
.pannel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
.pannel-ops p{
    display: inline;
    margin-left: 10px;

}
.pannel-ops{
    width: 70%;
    font-size: 0.85rem;
}
.pannel-deals{
    font-size: 0.9rem;
    font-weight: 700;
}
.hero-section{
    background-image: url("beauty.jpg");
    height: 350px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hero-msg{
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    font-size: 0.85rem;
    width: 80%;
    margin-bottom: 25px;
}
.hero-msg a{
    color: #027185;

}
.diff-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.box{
   
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;

}

.box-img{ 
    height: 300px;
    background-size: cover;
    margin-top: 1rem; 
    margin-bottom: 1rem;
}

.box-content{ 
    margin-left: 1rem; 
     margin-right: 1rem;
}  
.box-content p{
    margin-top:5px;
color: #027185;;

}

.second-box{
    display: flex;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.boxes{
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}
.boxes-img{
    height: 300px;
    background-size: cover;
    margin-top: 1rem; 
    margin-bottom: 1rem;
}
.boxes-content{
    margin-left: 1rem; 
    margin-right: 1rem;
}
.boxes-content p{
    margin-top:5px;
color: #027185;
}
.footer{
    margin-top: 15px;
}
.footer-pannel{
 
    background-color:#37475a;
    height: 50px;
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
    font-size: 0.85rem;
}
.footer-copyright{
    height: 500px;
    color: white;
    background-color: #222f3d;
    display: flex;
    justify-content: space-evenly;
}
ul{
    margin-top: 60px;
}
ul a{
   display: block;
   font-size: 0.85rem;
   margin-top: 10px;
   color: #dddddd;
}
.footer2-pannel{
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    height: 68px;
    display: flex;
    justify-content: center;

}
.amazon-logo{
    background-image: url("amazonlogo.webp");
    background-size: cover;
    height: 50px;
    width: 100px;
    font-size: 20px;
}
.foot{
    background-color:black ;
    height:80px  ;
    color: white;
    font-size: 0.7rem;
    text-align: center;
    /* display: flex; */
    /* justify-content: center; */
} 
.pages{
     align-items: center;
      padding: 25px; 
}
.copyright{
   padding-top: 3px; 
}
